/* Home Page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(90deg, rgba(167,106,231,1) 9%, rgba(65,36,214,0.6502976190476191) 82%);
}

#home {
  --secondary-color: #151226;
  --contrast-color: #BF307F;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--contrast-color);
}

#home {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand .8s ease forwards;
  background-color: var(--secondary-color);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .8s ease;
}

.container_content {
 width: 50%;
}

.container_content_inner {
  width: 80%;
  margin-left: 80px;
}

.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}   
    
.container_img {
  width: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
  
}

.par {
  height: auto;
  overflow: hidden;
}

p{
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .8s;
}

.btns {
  height: 100%;
  position: relative;
  width: 150px;
  overflow: hidden;
}

.btns_more {
  background: transparent;
  border: 1px solid var(--contrast-color);
  border-radius: 50px;
  padding: 8px 12px;
  color: #BF307F;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
  transform: translateY(50px);
  animation: slideUp .8s ease-in-out  forwards 1s;
}


h1 {
    font-size: 40px;
    color: var(--contrast-color);
    margin-bottom: 20px;
    transform: translateY(100px);
    animation: slideUp .8s ease forwards .5s;
}

.card {
  width: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
} 




/* Premium Page */


@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #191629;
  font-family: "Noto Sans", sans-serif;
}

.icon {
  display: flex;
  align-items: flex-start;
}
.icon svg {
  width: 2.188rem;
  margin-left: -0.188em;
}

h1 {
  font-size: 2.35rem;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  padding-top: 0px;
  margin-top: 150px;
}
@media screen and (min-width: 42.5rem) {
  h1 {
    font-size: 3rem;
    background: url('data:image/svg+xml,');
    background-size: 17.5rem;
    background-repeat: no-repeat;
    background-position: 98% 3.375rem;
   margin-top: -50px;
  }
}

section {
  display: grid;
  place-items: center;
  padding: 1rem clamp(0.5rem, 2%, 2rem);
 
}
section > span {
  display: inline-block;
  margin-bottom: 0.938em;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  font-size: 0.8rem;
  background: #ffbb7b;
  color: #5c0404;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 50px;
}

.cards {
  margin-top: 3em;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 30.5rem;
  cursor: pointer;
}
.card ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.5rem;
}
.card__outer {
  background: #ebecee;
  position: relative;
  height: 23.438rem;
  border-radius: 0.625rem;
  display: flex;
  align-items: flex-end;
  padding: 1.25rem;
  transition: 0.3s ease-in-out;
}
.card__outer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}
.card__outer a svg {
  margin-left: 0.375em;
  width: 1.125rem;
}
.card__inner {
  background: #fff;
  position: absolute;
  bottom: 3.75rem;
  right: 1.25rem;
  width: 100%;
  height: 90%;
  border-radius: 0.625rem;
  padding: 1.875rem 2.188rem;
  display: flex;
  flex-direction: column;
}
.card__inner .title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  margin-top: 0.313em;
  margin-bottom: 0.938em;
}
.card__inner .price {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
}
.card__inner .price--number {
  font-size: 3rem;
  font-weight: 500;
}
.card__inner .price--number:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1.563rem;
  display: block;
  color: red;
  height: 0.125rem;
  width: 100%;
}
.card__inner .price--dolar {
  font-size: 1.1rem;
  margin-top: 0.725em;
  font-weight: 500;
}

.card.active .card__outer a {
  color: #fff;
}

.card:nth-child(1).active .card__inner svg {
  color: #6824d6;
}
.card:nth-child(1).active .card__outer {
  background: #6824d6;
  box-shadow: 5px 18px 13px rgba(104, 36, 214, 0.43);
}
.card:nth-child(2).active .card__inner svg {
  color: #fe3258;
}
.card:nth-child(2).active .card__outer {
  background: #fe3258;
  box-shadow: 5px 18px 13px rgba(254, 52, 89, 0.43);
}
.card:nth-child(3).active .card__inner svg {
  color: #4ccda7;
}
.card:nth-child(3).active .card__outer {
  background: #4ccda7;
  box-shadow: 5px 18px 13px rgba(76, 205, 166, 0.43);
}
.card--purple .card__inner svg,
.card--purple .card__inner .title,
.card--purple .card__outer a {
  color: #6824d6;
}
.card--red .card__outer {
  height: 25.313rem;
}
.card--red .card__inner svg,
.card--red .card__inner .title,
.card--red .card__outer a {
  color: #fe3258;
}
.card--green .card__inner svg,
.card--green .card__inner .title,
.card--green .card__outer a {
  color: #4ccda7;
}


/* News Card  */
#newscard {
  /* width: 300px;
  height: 300px; */
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

#newscard img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

#newscard:hover img {
  transform: scale(1.2);
}

#newscard h2, #newscard p {
  
  bottom: 0px;;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

#newscard:hover h2, #newscard:hover p {
  transform: translateY(0);
}

#newscard {
  animation: zoomIn 0.5s ease-in-out;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#newscard:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



/* Profile */

/* body {
  background: rgb(99, 39, 120)
} */

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}




