/* test */

body {
  background: linear-gradient(271deg,#522ff5,#12c4fd,#b5edfb,#4a2815,#549db3);
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Home Page */
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  --secondary-color: #151226;
  --contrast-color: #bf307f;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--contrast-color);
}

#home {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand 0.8s ease forwards;
  background-color: var(--secondary-color);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: all 0.8s ease;
}

.container_content {
  width: 50%;
}

.container_content_inner {
  width: 80%;
  margin-left: 80px;
}

.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}

.container_img {
  width: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
}

.par {
  height: auto;
  overflow: hidden;
}

p {
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp 0.8s ease-in-out forwards 0.8s;
}

.btns {
  height: 100%;
  position: relative;
  width: 150px;
  overflow: hidden;
}

.btns_more {
  background: transparent;
  border: 1px solid var(--contrast-color);
  border-radius: 50px;
  padding: 8px 12px;
  color: #bf307f;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
  transform: translateY(50px);
  animation: slideUp 0.8s ease-in-out forwards 1s;
}

h1 {
  font-size: 40px;
  color: var(--contrast-color);
  margin-bottom: 20px;
  transform: translateY(100px);
  animation: slideUp 0.8s ease forwards 0.5s;
}

.card {
  width: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* Premium Page */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
 
  font-family: "Noto Sans", sans-serif;

}

.icon {
  display: flex;
  align-items: flex-start;
}
.icon svg {
  width: 2.188rem;
  margin-left: -0.188em;
}

h1 {
  font-size: 2.35rem;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  padding-top: 0px;
  margin-top: 150px;
}
@media screen and (min-width: 42.5rem) {
  h1 {
    font-size: 3rem;
    background: url("data:image/svg+xml,");
    background-size: 17.5rem;
    background-repeat: no-repeat;
    background-position: 98% 3.375rem;
    margin-top: -50px;
  }
}

section {
  display: grid;
  place-items: center;
  padding: 1rem clamp(0.5rem, 2%, 2rem);
}

section > span {
  display: inline-block;
  margin-bottom: 0.938em;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  font-size: 0.8rem;
  background: #ffbb7b;
  color: #5c0404;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 50px;
}

.cards {
  margin-top: 3em;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: relative;
  cursor: pointer;
  overflow:hidden
}
.card ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.5rem;
}
.card__outer {
  background: #ebecee;
  position: relative;
  height: 23.438rem;
  border-radius: 0.625rem;
  display: flex;
  align-items: flex-end;
  padding: 1.25rem;
  transition: 0.3s ease-in-out;
}
.card__outer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}
.card__outer a svg {
  margin-left: 0.375em;
  width: 1.125rem;
}
.card__inner {
  background: #fff;
  position: absolute;
  bottom: 3.75rem;
  right: 1.25rem;
  width: 100%;
  height: 90%;
  border-radius: 0.625rem;
  padding: 1.875rem 2.188rem;
  display: flex;
  flex-direction: column;
}
.card__inner .title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
  display: inline-block;
  margin-top: 0.313em;
  margin-bottom: 0.938em;
}
.card__inner .price {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
}
.card__inner .price--number {
  font-size: 3rem;
  font-weight: 500;
}
.card__inner .price--number:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1.563rem;
  display: block;
  color: red;
  height: 0.125rem;
  width: 100%;
}
.card__inner .price--dolar {
  font-size: 1.1rem;
  margin-top: 0.725em;
  font-weight: 500;
}

.card.active .card__outer a {
  color: #fff;
}

.card:nth-child(1).active .card__inner svg {
  color: #6824d6;
}
.card:nth-child(1).active .card__outer {
  background: #6824d6;
  box-shadow: 5px 18px 13px rgba(104, 36, 214, 0.43);
}
.card:nth-child(2).active .card__inner svg {
  color: #fe3258;
}
.card:nth-child(2).active .card__outer {
  background: #fe3258;
  box-shadow: 5px 18px 13px rgba(254, 52, 89, 0.43);
}
.card:nth-child(3).active .card__inner svg {
  color: #4ccda7;
}
.card:nth-child(3).active .card__outer {
  background: #4ccda7;
  box-shadow: 5px 18px 13px rgba(76, 205, 166, 0.43);
}
.card--purple .card__inner svg,
.card--purple .card__inner .title,
.card--purple .card__outer a {
  color: #6824d6;
}
.card--red .card__outer {
  height: 25.313rem;
}
.card--red .card__inner svg,
.card--red .card__inner .title,
.card--red .card__outer a {
  color: #fe3258;
}
.card--green .card__inner svg,
.card--green .card__inner .title,
.card--green .card__outer a {
  color: #4ccda7;
}

/* newscard */

#newscard {
  
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

#newscard img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

#newscard:hover img {
  transform: scale(1.2);
}

#newscard h2,
#newscard p {
  bottom: 0px;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

#newscard:hover h2,
#newscard:hover p {
  transform: translateY(0);
}

#newscard {
  animation: zoomIn 0.5s ease-in-out;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#newscard:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Profile */



.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #682773;
}

.profile-button:focus {
  background: #682773;
  box-shadow: none;
}

.profile-button:active {
  background: #682773;
  box-shadow: none;
}

.back:hover {
  color: #682773;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}

.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}

/* navbar */

@import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");

:root {
  --color-primary: hsl(251, 78%, 27%);
  --color-secondary: #f0f7ee;
  --duration: 1s;
  --nav-duration: calc(var(--duration) / 4);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-primary: "Helvetica", sans-serif;
  --font-heading: "Merriweather", serif;
  --font-size: 1.125rem;
  --line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1 {
  margin-bottom: calc(var(--space) * 3);
  font-family: var(--font-heading);
  font-size: calc(var(--font-size) + 6vmin);
  line-height: calc(var(--line-height) / 1.25);
}

.main-navigation-toggle {
  position: top;
  margin-right: 20px;
  margin-left: 20px;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;

  + label {
    position: top;
    margin-right: 20px;
    margin-left: 20px;
    top: calc(var(--space) * 1.5);
    right: calc(var(--space) * 2);
    cursor: pointer;
    z-index: 2;
  }
}

.icon--menu-toggle {
  --size: calc(1rem + 4vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  stroke-width: 6;
  
}

.icon-group {
  transform: translateX(0);
  transition: transform var(--nav-duration) var(--ease);
}

.icon--menu {
  stroke: var(--color-secondary);
}

.icon--close {
  stroke: var(--color-secondary);
  transform: translateX(-100%);
  
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform var(--nav-duration);
  z-index: 1;


  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transform-origin: 0 50%;
    z-index: -1;
    
  }

  ul {
    font-size: 6vmin;
    font-family: var(--font-heading);
    width: 100%;
  }

  li {
    --border-size: 1vmin;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: var(--border-size);
      background-color: var(--color-secondary);
      transform-origin: 0 50%;
      transform: translateX(-100%) skew(15deg);
    }
  }

  a {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: var(--color-secondary);
    line-height: 1;
    text-decoration: none;
    user-select: none;
    padding: var(--space) calc(var(--space) * 2)
      calc(var(--space) + var(--border-size) / 2);
    transform: translateY(100%);
  }
}

.main-content {
  margin: 6rem auto;
  max-width: 70ch;
  padding: 0 calc(var(--space) * 2);
  transform: translateX(0);
  transition: transform calc(var(--nav-duration) * 2) var(--ease);
  

  > * + * {
    margin-top: calc(var(--space) * var(--line-height));
  }
}

.main-navigation-toggle:checked {
  ~ label .icon--menu-toggle {
    .icon-group {
      transform: translateX(100%);
    }
  }

  ~ .main-content {
    transform: translateX(10%);
    
  }

  ~ .main-navigation {
    transition-duration: 0s;
    transform: translateX(0);

    &:after {
      animation: nav-bg var(--nav-duration) var(--ease) forwards;
    }

    li:after {
      animation: nav-line var(--duration) var(--ease) forwards;
    }

    a {
      animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
    }

     @for $i from 1 through 4 {
      li:nth-child(#{$i}) {
        &:after,
        a {
          animation-delay: calc((var(--duration) / 2) * #{$i} * 0.125);
        }
      }
    }
  }
}

@keyframes nav-bg {
  from {
    transform: translateX(-100%) skewX(-15deg);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes nav-line {
  0% {
    transform: scaleX(0);
    transform-origin: 0 50%;
  }
  35% {
    transform: scaleX(1.001);
    transform-origin: 0 50%;
  }
  65% {
    transform: scaleX(1.001);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}

@keyframes link-appear {
  0%,
  25% {
    transform: translateY(100%);
  }
  50%,
  100% {
    transform: translateY(0);
  }
}


.container_content_inner1 {
  width: 90%;
  margin-left: 80px;
  margin-right: 90px;
}

.container_outer_img1 {
  margin: 50px;
  width: 70%;
  overflow: hidden;
  margin-right: 110px;
}

.container_img1 {
  width: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
}

/* button */

@import url(https://fonts.googleapis.com/css?family=Lato);


ul {
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  list-style-type: none;

  li {
    padding: 6px 0;

    button,
    a {
      position: relative;
      display: block;
      padding: 4px 0;
      font-family: Lato, sans-serif;
      color: #ecf0f1;
      text-decoration: none;

      transition: 0.5s;

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #3498db;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }

      &:hover {
        color: #95a5a6;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
}


/* categories*/

/* Make the list collapsible on mobile screens */
/* Make the list horizontal on mobile screens */
@media only screen and (max-width: 768px) {
  #categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
  }
  #categories.collapsible {
    display: block;
  }
  #categories-button {
    display: block;
  }
}

/* Make the list vertical on PC screens */
@media only screen and (min-width: 769px) {
  #categories {
    display: block;
    flex-direction: column;
  }
  #categories-button {
    display: none;
  }
}


/* premium details */

.premium-container {
  padding: 0px;
  margin: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-info {
  display: flex;
  align-items: center;
  height: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #d2cee7;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.profile-card {
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-card__outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card__inner {
  margin: 10px;
}

.profile-card--purple {
  background-color: #e0e0ff;
}

.profile-card--red {
  background-color: #ffe0e0;
}

.profile-card--green {
  background-color: #e0ffe0;
}

.active {
  border: 2px solid #000;
}
